/* line 14, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  vertical-align: baseline;
}

/* line 17, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 6 */
html {
  background: #717171;
}

/* line 9 */
body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #717171;
  color: #333333;
}

/* line 17 */
#chatroomapp {
  width: auto;
  margin: 0 13% 40px 13%;
	padding: 10px;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 24 */
#chatroomapp .title h1 {
	font-family: 'Covered By Your Grace', cursive;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0 10px 0;
  line-height: 1;
	margin-bottom: 40px;
}
#chatroomapp .title h3 {
	font-family: 'Covered By Your Grace', cursive;
  font-size: 48px;
  text-align: center;
  padding: 30px 0 10px 0;
  line-height: 1;
	margin-bottom: 70px;
}
#login {
	text-align:center;
}

#login input {
  width: 40%;
  font-size: 24px;
  font-family: inherit;
  line-height: 1em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  text-align: left;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	margin-bottom: 20px;
}
#login input#chatroom {
  width: 20%;
	text-align:center;
}

#description {
	text-align:center;
	margin:10px;
}
/* line 30 */
#chatroomapp .content {
  padding: 20px;
}
/* line 32 */
#chatroomapp .content #create-message {
  position: relative;
}
/* line 34 */
#chatroomapp .content #create-message input {
  width: 98%;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

/* line 45 */
#chatroomapp .content #create-message input::-webkit-input-placeholder {
  font-style: italic;
}
/* line 47 */
#chatroomapp .content #create-message span {
  position: absolute;
  z-index: 999;
  width: 170px;
  left: 50%;
  margin-left: -85px;
  opacity: 0;
}
/* line 55 */
#chatroomapp .content ul#message-list {
  margin-top: 10px;
}
/* line 57 */
#chatroomapp .content ul#message-list li {
  padding: 15px 20px 15px 0;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  *zoom: 1;
  cursor: move;
}
/* line 22, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#chatroomapp .content ul#message-list li:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 64 */
#chatroomapp .content ul#message-list li.editing {
  padding: 0;
  border-bottom: 0;
}
/* line 67 */
#chatroomapp .content ul#message-list li.editing .message-input {
  display: block;
  width: 466px;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
/* line 79 */
#chatroomapp .content ul#message-list li.editing .message-content {
  display: none;
}
/* line 81 */
#chatroomapp .content ul#message-list li.editing .message-check {
  display: none;
}
/* line 83 */
#chatroomapp .content ul#message-list li.editing .message-destroy {
  display: none !important;
}
/* line 85 */
#chatroomapp .content ul#message-list li .message-input {
  display: none;
}
/* line 87 */
#chatroomapp .content ul#message-list li .message-check {
  position: relative;
  top: 6px;
  margin: 0 10px 0 7px;
  float: left;
}
/* line 93 */
#chatroomapp .content ul#message-list li.done .message-content {
  /*text-decoration: line-through;*/
  font-weight:bold;
  color: #777777;
}
/* line 96 */
#chatroomapp .content ul#message-list li .message-destroy {
  position: absolute;
  right: 0px;
  top: 16px;
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url(../images/destroy.png) no-repeat center center;
}
/* line 106 */
#chatroomapp .content ul#message-list li:hover .message-destroy {
  display: block;
}
/* line 109 */
#chatroomapp #message-stats {
  *zoom: 1;
  margin-top: 10px;
  color: #555555;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f4fce8;
  border-top: 1px solid #ededed;
  padding: 0 20px;
  line-height: 36px;
}
/* line 22, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#chatroomapp #message-stats:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 118 */
#chatroomapp #message-stats .message-count {
  float: left;
}
/* line 120 */
#chatroomapp #message-stats .message-count .number {
  font-weight: bold;
  color: #555555;
}
/* line 123 */
#chatroomapp #message-stats .message-clear {
  float: right;
}
/* line 125 */
#chatroomapp #message-stats .message-clear a {
  display: block;
  line-height: 20px;
  text-decoration: none;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.1);
  color: #555555;
  font-size: 11px;
  margin-top: 8px;
  padding: 0 10px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}
/* line 136 */
#chatroomapp #message-stats .message-clear a:hover {
  background: rgba(0, 0, 0, 0.15);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}
/* line 139 */
#chatroomapp #message-stats .message-clear a:active {
  position: relative;
  top: 1px;
}

/* line 144 */
#powered {
	padding:10px;
  color: #fff;
	font-size:11px;
	background-color: #000000;
  text-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  float: right;
}
/* line 150 */
#powered li {
  line-height: 2em;
}
#powered a:link, #powered a:visited{
	text-decoration:none;
	color:#c0c0c0;
} 
#menu {
	float:right;
	padding:5px 10px;  
}
#menu a:link, a:visited{
	text-decoration:none;
	color:#ccc;
}
#menu a:hover{
	text-decoration:underline;
	color:black;
}
/* line 159 */
#credits a {
  color: #ddd;
}